.background-base {
  padding: var(--space--64) var(--space--96) var(--space--48);
  border-radius: var(--radius--m);
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  background-image: black;
}
.p-6 {
  padding: 0em; /* Adjust padding if needed */
  position: relative;
  top: 90px; /* Moves the search bar upwards on the page */
  left: 50%;
  transform: translateX(-50%); /* Centers the search bar horizontally */
  width: 10000%; /* Makes the search bar wider */
  max-width: 10000000px; /* Optional: Set a max-width for better control */
}
.bg-black {
  background-color: hsl(58, 100%, 49.25%);
}
.gradient-text {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: -1.6px;
  background-image: linear-gradient(to top, #4c4c4c, #ffffff); /* Example gradient */
  -webkit-background-clip: text; /* Clips the background to the text */
  -webkit-text-fill-color: transparent; /* Makes the text fill transparent so the gradient is visible */
  display: inline-block;
}

@media (min-width: 768px) {
  .gradient-text {
    font-size: 80px;
    line-height: 80px;
  }
}
.py-\[18px\] {
  padding-block: 0px;
}
.bg-yellow-300 {
  box-shadow:
    0 4px 6px rgba(255, 223, 0, 0.6),
    0 10px 20px rgba(255, 223, 0, 0.4);
  border-width: 0.3px;
  border-color: burlywood;
}
.text-white {
  color: #000;
}
html,
body {
  height: 100%; /* Ensure the body takes up the full height of the viewport */
  /* Remove any scrollbars */
}
.border {
  border-style: var(--tw-border-style);
  border-width: 0.3px;
  border-color: burlywood;
  /* Default box-shadow is commented out so it doesn't appear when not hovered */
}

.border:hover {
  box-shadow:
    0 4px 6px rgba(255, 223, 0, 0.6),
    0 10px 20px rgba(255, 223, 0, 0.4);
}
.main-container {
  width: 100%;
  height: 100%;
  max-width: 480px; /* Limiting width for a "phone-like" appearance */
  background-color: #1d1717;
  border-radius: 30px; /* Slightly smaller border radius for inner container */
}
/* Center content vertically and horizontally */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use 100% of the viewport height */
  padding-left: 50px;
  padding-top: 0px; /* Optional padding to make it look more spaced */
}

.job-list-container {
  display: flex;
  align-items: center;
  height: 10px;
  padding: 400px;
  padding-top: 1px;
  /* padding-bottom: 10px; */
  position: absolute;
}

/* Margin between title and search bar */

.custom-input {
  padding-left: calc(var(--spacing) * 70);
  padding-right: calc(var(--spacing) * 30);
}

/* .grid-bg {
  background: url('/assets/background/grid-bg.svg') no-repeat;
} */

/* .grain-background {
  background: url('/assets/background/grain-bg.svg') repeat;
} */

.grain-blur {
  top: -220px;
  background: url('/assets/background/newBlurr.svg') no-repeat 50%;
}

.large-blur {
  left: -30px;
  top: -864px;
  border-radius: 750px;
  opacity: 0.2;
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(154, 255, 117, 0.2) 0%,
    rgba(117, 173, 255, 0) 70%,
    rgba(117, 173, 255, 0) 100%
  );
}

.small-blur {
  background: url('/assets/background/newBlurr.svg') no-repeat 50%;
}

.featured-card-badge {
  position: relative;
  background: linear-gradient(90deg, #fff800 0%, #fffecc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-card-badge::before {
  content: '';
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(0, 255, 4, 0.6) 50%, rgba(255, 255, 255, 0) 85%);
  position: absolute;
  left: 8px;
  top: -1px;
  width: 48px;
  height: 1px;
}
.pricing-card-border {
  position: relative;
}
.pricing-card-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px 16px 0 0;
  padding: 1px 1px 0;
  background: linear-gradient(180deg, #414b4e 49.5%, rgba(65, 75, 78, 0) 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer-border {
  position: relative;
  background: linear-gradient(90deg, rgba(65, 75, 78, 0) 0%, #414b4e 49.5%, rgba(65, 75, 78, 0) 100%);
}
.footer-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 124px);
  width: 248px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 248, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 85%
  );
}

.featured-price-title {
  position: relative;
}
.featured-price-title::before {
  content: '';
  position: absolute;
  left: 44px;
  top: -7px;
  height: 17px;
  width: 296px;
  border-radius: 296px;
  opacity: 0.2;
  background: #fddd35;
  filter: blur(32px);
}

.featured-price-title::after {
  content: '';
  width: 196px;
  height: 4px;
  position: absolute;
  left: 94px;
  top: -2px;
  border-radius: 196px;
  opacity: 0.5;
  background: #4d94ff;
  filter: blur(12px);
}

.featured-hard-blur-bg {
  width: 88px;
  height: 4px;
  position: absolute;
  left: 50%;
  margin-left: -44px;
  top: -2px;
  background: #fff800;
  opacity: 0.5;
  filter: blur(12px);
}

.featured-yellow-highlight-bg {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -124px;
  width: 248px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 248, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 85%
  );
}
.featured-vertical-hard-blur-bg {
  position: absolute;
  top: -140px;
  left: 50%;
  margin-left: -64px;
  width: 128px;
  height: 280px;
  border-radius: 280px;
  opacity: 0.1;
  background: #fff800;
  filter: blur(48px);
}

.featured-soft-blur-bg {
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -192px;
  width: 384px;
  height: 37px;
  border-radius: 384px;
  opacity: 0.3;
  background: #fff800;
  filter: blur(32px);
}
